In [9]:
import pandas as pd

In [10]:
energy_df = pd.read_csv("..\Downloads\cleaned_data.csv")

In [11]:
energy_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
0,0,Argentina,2015,33567.573000,0.247105,1.040233e+05,0.752895,1.917438e+08,13.940,34.86
1,1,Argentina,2016,31013.883000,0.213672,1.081583e+05,0.786328,1.899204e+08,13.690,35.81
2,2,Argentina,2017,33292.217000,0.249992,1.046230e+05,0.750008,1.868989e+08,13.008,35.94
3,3,Argentina,2018,34652.219560,0.324108,1.045359e+05,0.675892,1.805993e+08,12.384,35.09
4,4,Argentina,2019,34524.081521,0.275338,9.793823e+04,0.724662,1.785116e+08,11.832,34.85
...,...,...,...,...,...,...,...,...,...,...
346,346,United States,2015,576983.186000,0.166262,3.532236e+06,0.833738,5.376578e+09,8.250,38.06
347,347,United States,2016,647498.933000,0.165450,3.471946e+06,0.834550,5.251758e+09,7.482,38.01
348,348,United States,2017,728586.908000,0.165288,3.357416e+06,0.834712,5.210957e+09,7.894,37.32
349,349,United States,2018,750808.075112,0.177603,3.486119e+06,0.822397,5.376657e+09,8.074,37.57
350,350,United States,2019,775304.565448,0.181781,3.420269e+06,0.818219,5.259144e+09,7.136,37.72

In [12]:
energy_df.sort_values(by = ["Particulate Matter", "Country Name"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
108,108,Finland,2017,30673.984000,0.466033,3.436920e+04,0.533967,4.457780e+07,5.770,14.82
107,107,Finland,2016,29614.757000,0.425184,3.658848e+04,0.574816,4.718186e+07,5.818,14.89
110,110,Finland,2019,30976.840200,0.483117,3.507564e+04,0.516883,4.238184e+07,5.834,14.60
157,157,Iceland,2016,18168.608000,0.999789,3.000000e+00,0.000211,3.485184e+06,5.938,17.69
98,98,Estonia,2017,1689.635000,0.176163,9.558855e+03,0.823837,1.876249e+07,5.944,10.65
...,...,...,...,...,...,...,...,...,...,...
165,165,India,2019,310518.426998,0.171392,1.223419e+06,0.828608,2.626459e+09,50.870,125.11
163,163,India,2017,244981.875789,0.153179,1.160883e+06,0.846821,2.434868e+09,52.000,126.84
162,162,India,2016,230497.902364,0.145783,1.120616e+06,0.854217,2.383816e+09,53.732,129.23
164,164,India,2018,274527.322742,0.156672,1.245011e+06,0.843328,2.600446e+09,56.232,127.80
161,161,India,2015,189413.208691,0.124573,1.013968e+06,0.875427,2.270766e+09,56.254,134.68

In [13]:
energy_df[energy_df["Country Name"] =='United States'].sort_values(by = ["Particulate Matter", "Year",])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
350,350,United States,2019,775304.565448,0.181781,3.420269e+06,0.818219,5.259144e+09,7.136,37.72
347,347,United States,2016,647498.933000,0.165450,3.471946e+06,0.834550,5.251758e+09,7.482,38.01
348,348,United States,2017,728586.908000,0.165288,3.357416e+06,0.834712,5.210957e+09,7.894,37.32
349,349,United States,2018,750808.075112,0.177603,3.486119e+06,0.822397,5.376657e+09,8.074,37.57
346,346,United States,2015,576983.186000,0.166262,3.532236e+06,0.833738,5.376578e+09,8.250,38.06
345,345,United States,2014,568864.642000,0.139608,3.554687e+06,0.860392,5.528871e+09,8.554,37.94
344,344,United States,2013,550184.829000,0.127149,3.543216e+06,0.872851,5.480926e+09,8.684,37.99
343,343,United States,2012,522776.507000,0.136656,3.554374e+06,0.863344,5.345454e+09,9.000,37.96
341,341,United States,2010,456142.223000,0.110925,3.702817e+06,0.889075,5.681392e+09,9.216,37.77
342,342,United States,2011,542625.391000,0.127230,3.593511e+06,0.872770,5.546629e+09,9.288,38.00

In [14]:
energy_df[energy_df["Country Name"] =="India"].sort_values(by = ["Particulate Matter", "Country Name"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
165,165,India,2019,310518.426998,0.171392,1.223419e+06,0.828608,2.626459e+09,50.870,125.11
163,163,India,2017,244981.875789,0.153179,1.160883e+06,0.846821,2.434868e+09,52.000,126.84
162,162,India,2016,230497.902364,0.145783,1.120616e+06,0.854217,2.383816e+09,53.732,129.23
164,164,India,2018,274527.322742,0.156672,1.245011e+06,0.843328,2.600446e+09,56.232,127.80
161,161,India,2015,189413.208691,0.124573,1.013968e+06,0.875427,2.270766e+09,56.254,134.68

In [15]:
energy_df[energy_df["Country Name"] =="Mexico"].sort_values(by = ["Particulate Matter", "Country Name"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
240,240,Mexico,2019,54356.199525,0.164410,276333.857480,0.835590,472191500.0,17.438,36.93
239,239,Mexico,2018,53709.708965,0.159356,287168.291043,0.840644,475268930.0,18.334,36.46
238,238,Mexico,2017,50332.339000,0.155941,258600.795000,0.844059,465620930.0,19.992,36.53
237,237,Mexico,2016,47338.895000,0.115056,255537.097000,0.884944,479789760.0,20.774,36.33
235,235,Mexico,2014,52118.080000,0.162108,237931.657000,0.837892,484113700.0,21.086,37.43
236,236,Mexico,2015,46579.933000,0.116243,251197.012000,0.883757,479519780.0,21.336,36.86
231,231,Mexico,2010,45046.671000,0.134058,219289.051000,0.865942,463782500.0,21.648,38.31
233,233,Mexico,2012,41661.373000,0.124619,242743.436000,0.875381,501568830.0,21.760,36.74
234,234,Mexico,2013,38894.262000,0.156222,248196.121000,0.843778,495485200.0,22.714,37.70
232,232,Mexico,2011,44372.956000,0.148476,235722.940000,0.851524,484164860.0,23.010,37.17

In [16]:
energy_df.sort_values(by = ["Renewables Value"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
226,226,Malta,2015,101.618000,0.082869,1.139372e+03,0.917131,1.665291e+06,12.958,15.98
227,227,Malta,2016,135.617000,0.107392,6.708670e+02,0.892593,1.356353e+06,12.410,15.84
228,228,Malta,2017,171.676000,0.063046,1.430782e+03,0.936954,1.530878e+06,11.796,15.70
229,229,Malta,2018,197.520292,0.067087,1.713529e+03,0.935237,1.546948e+06,12.898,15.54
230,230,Malta,2019,201.757092,0.062313,1.799562e+03,0.940856,1.649193e+06,12.094,15.40
...,...,...,...,...,...,...,...,...,...,...
346,346,United States,2015,576983.186000,0.166262,3.532236e+06,0.833738,5.376578e+09,8.250,38.06
347,347,United States,2016,647498.933000,0.165450,3.471946e+06,0.834550,5.251758e+09,7.482,38.01
348,348,United States,2017,728586.908000,0.165288,3.357416e+06,0.834712,5.210957e+09,7.894,37.32
349,349,United States,2018,750808.075112,0.177603,3.486119e+06,0.822397,5.376657e+09,8.074,37.57
350,350,United States,2019,775304.565448,0.181781,3.420269e+06,0.818219,5.259144e+09,7.136,37.72

In [17]:
energy_df.sort_values(by = ["Renewables Share"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
230,230,Malta,2019,201.757092,0.062313,1799.562270,0.940856,1649193.0,12.094,15.40
142,142,Hungary,2011,2544.289000,0.062391,30989.152000,0.937609,50191330.0,20.720,30.84
228,228,Malta,2017,171.676000,0.063046,1430.782000,0.936954,1530878.0,11.796,15.70
229,229,Malta,2018,197.520292,0.067087,1713.528706,0.935237,1546948.0,12.898,15.54
141,141,Hungary,2010,2808.989000,0.068185,31803.868000,0.931815,52068732.0,19.910,30.79
...,...,...,...,...,...,...,...,...,...,...
155,155,Iceland,2014,17800.000000,0.999813,3.000000,0.000187,3436352.0,6.306,17.54
151,151,Iceland,2010,16743.999000,0.999888,2.004000,0.000112,3616621.0,7.230,19.16
152,152,Iceland,2011,16848.998000,0.999919,2.000000,0.000081,3494164.0,7.802,18.90
159,159,Iceland,2018,19430.622999,0.999921,1.874998,0.000079,3658953.0,6.138,17.98
158,158,Iceland,2017,18844.210000,0.999971,2.085000,0.000029,3601620.0,6.002,17.95

In [18]:
energy_df.sort_values(by = ["Non-Renewables Value"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
159,159,Iceland,2018,19430.622999,0.999921,1.874998e+00,0.000079,3.658953e+06,6.138,17.98
152,152,Iceland,2011,16848.998000,0.999919,2.000000e+00,0.000081,3.494164e+06,7.802,18.90
151,151,Iceland,2010,16743.999000,0.999888,2.004000e+00,0.000112,3.616621e+06,7.230,19.16
158,158,Iceland,2017,18844.210000,0.999971,2.085000e+00,0.000029,3.601620e+06,6.002,17.95
160,160,Iceland,2019,19117.132001,0.999226,2.661000e+00,0.000774,3.546263e+06,6.034,17.50
...,...,...,...,...,...,...,...,...,...,...
344,344,United States,2013,550184.829000,0.127149,3.543216e+06,0.872851,5.480926e+09,8.684,37.99
343,343,United States,2012,522776.507000,0.136656,3.554374e+06,0.863344,5.345454e+09,9.000,37.96
345,345,United States,2014,568864.642000,0.139608,3.554687e+06,0.860392,5.528871e+09,8.554,37.94
342,342,United States,2011,542625.391000,0.127230,3.593511e+06,0.872770,5.546629e+09,9.288,38.00
341,341,United States,2010,456142.223000,0.110925,3.702817e+06,0.889075,5.681392e+09,9.216,37.77

In [20]:
energy_df[energy_df["Country Name"] =="United States"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
341,341,United States,2010,456142.223000,0.110925,3.702817e+06,0.889075,5.681392e+09,9.216,37.77
343,343,United States,2012,522776.507000,0.136656,3.554374e+06,0.863344,5.345454e+09,9.000,37.96
342,342,United States,2011,542625.391000,0.127230,3.593511e+06,0.872770,5.546629e+09,9.288,38.00
344,344,United States,2013,550184.829000,0.127149,3.543216e+06,0.872851,5.480926e+09,8.684,37.99
345,345,United States,2014,568864.642000,0.139608,3.554687e+06,0.860392,5.528871e+09,8.554,37.94
346,346,United States,2015,576983.186000,0.166262,3.532236e+06,0.833738,5.376578e+09,8.250,38.06
347,347,United States,2016,647498.933000,0.165450,3.471946e+06,0.834550,5.251758e+09,7.482,38.01
348,348,United States,2017,728586.908000,0.165288,3.357416e+06,0.834712,5.210957e+09,7.894,37.32
349,349,United States,2018,750808.075112,0.177603,3.486119e+06,0.822397,5.376657e+09,8.074,37.57
350,350,United States,2019,775304.565448,0.181781,3.420269e+06,0.818219,5.259144e+09,7.136,37.72

In [21]:
United_df = energy_df[energy_df["Country Name"] =="United States"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [22]:
United_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
341,341,United States,2010,456142.223000,0.110925,3.702817e+06,0.889075,5.681392e+09,9.216,37.77
343,343,United States,2012,522776.507000,0.136656,3.554374e+06,0.863344,5.345454e+09,9.000,37.96
342,342,United States,2011,542625.391000,0.127230,3.593511e+06,0.872770,5.546629e+09,9.288,38.00
344,344,United States,2013,550184.829000,0.127149,3.543216e+06,0.872851,5.480926e+09,8.684,37.99
345,345,United States,2014,568864.642000,0.139608,3.554687e+06,0.860392,5.528871e+09,8.554,37.94
346,346,United States,2015,576983.186000,0.166262,3.532236e+06,0.833738,5.376578e+09,8.250,38.06
347,347,United States,2016,647498.933000,0.165450,3.471946e+06,0.834550,5.251758e+09,7.482,38.01
348,348,United States,2017,728586.908000,0.165288,3.357416e+06,0.834712,5.210957e+09,7.894,37.32
349,349,United States,2018,750808.075112,0.177603,3.486119e+06,0.822397,5.376657e+09,8.074,37.57
350,350,United States,2019,775304.565448,0.181781,3.420269e+06,0.818219,5.259144e+09,7.136,37.72

In [23]:
energy_df[energy_df["Country Name"] =="Mexico"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
234,234,Mexico,2013,38894.262000,0.156222,248196.121000,0.843778,495485200.0,22.714,37.70
233,233,Mexico,2012,41661.373000,0.124619,242743.436000,0.875381,501568830.0,21.760,36.74
232,232,Mexico,2011,44372.956000,0.148476,235722.940000,0.851524,484164860.0,23.010,37.17
231,231,Mexico,2010,45046.671000,0.134058,219289.051000,0.865942,463782500.0,21.648,38.31
236,236,Mexico,2015,46579.933000,0.116243,251197.012000,0.883757,479519780.0,21.336,36.86
237,237,Mexico,2016,47338.895000,0.115056,255537.097000,0.884944,479789760.0,20.774,36.33
238,238,Mexico,2017,50332.339000,0.155941,258600.795000,0.844059,465620930.0,19.992,36.53
235,235,Mexico,2014,52118.080000,0.162108,237931.657000,0.837892,484113700.0,21.086,37.43
239,239,Mexico,2018,53709.708965,0.159356,287168.291043,0.840644,475268930.0,18.334,36.46
240,240,Mexico,2019,54356.199525,0.164410,276333.857480,0.835590,472191500.0,17.438,36.93

In [24]:
Mexico_df = energy_df[energy_df["Country Name"] =="Mexico"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [25]:
Mexico_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
234,234,Mexico,2013,38894.262000,0.156222,248196.121000,0.843778,495485200.0,22.714,37.70
233,233,Mexico,2012,41661.373000,0.124619,242743.436000,0.875381,501568830.0,21.760,36.74
232,232,Mexico,2011,44372.956000,0.148476,235722.940000,0.851524,484164860.0,23.010,37.17
231,231,Mexico,2010,45046.671000,0.134058,219289.051000,0.865942,463782500.0,21.648,38.31
236,236,Mexico,2015,46579.933000,0.116243,251197.012000,0.883757,479519780.0,21.336,36.86
237,237,Mexico,2016,47338.895000,0.115056,255537.097000,0.884944,479789760.0,20.774,36.33
238,238,Mexico,2017,50332.339000,0.155941,258600.795000,0.844059,465620930.0,19.992,36.53
235,235,Mexico,2014,52118.080000,0.162108,237931.657000,0.837892,484113700.0,21.086,37.43
239,239,Mexico,2018,53709.708965,0.159356,287168.291043,0.840644,475268930.0,18.334,36.46
240,240,Mexico,2019,54356.199525,0.164410,276333.857480,0.835590,472191500.0,17.438,36.93

In [26]:
India_df = energy_df[energy_df["Country Name"] =="India"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [27]:
India_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
161,161,India,2015,189413.208691,0.124573,1.013968e+06,0.875427,2.270766e+09,56.254,134.68
162,162,India,2016,230497.902364,0.145783,1.120616e+06,0.854217,2.383816e+09,53.732,129.23
163,163,India,2017,244981.875789,0.153179,1.160883e+06,0.846821,2.434868e+09,52.000,126.84
164,164,India,2018,274527.322742,0.156672,1.245011e+06,0.843328,2.600446e+09,56.232,127.80
165,165,India,2019,310518.426998,0.171392,1.223419e+06,0.828608,2.626459e+09,50.870,125.11

In [28]:
Japan_df = energy_df[energy_df["Country Name"] =="Japan"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [29]:
Japan_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
188,188,Japan,2012,112872.466000,0.084620,964405.518000,0.915380,1.306182e+09,12.220,12.34
186,186,Japan,2010,116146.160000,0.091202,996784.006000,0.908798,1.215058e+09,14.042,12.54
187,187,Japan,2011,116207.927000,0.086543,958774.537000,0.913457,1.265035e+09,13.736,12.54
189,189,Japan,2013,119508.389000,0.092627,937478.567000,0.906462,1.315569e+09,13.278,12.11
190,190,Japan,2014,127801.768000,0.106517,920910.264000,0.894095,1.264413e+09,13.250,11.89
191,191,Japan,2015,151668.684000,0.124511,880082.009000,0.867919,1.223605e+09,12.598,11.72
192,192,Japan,2016,155914.216000,0.130664,873660.355000,0.869336,1.203888e+09,12.394,11.63
193,193,Japan,2017,170723.842000,0.124829,860619.104000,0.875171,1.188359e+09,11.748,11.50
195,195,Japan,2019,180144.999527,0.144113,824786.375195,0.855887,1.106016e+09,10.714,11.41
194,194,Japan,2018,183435.188683,0.132237,869435.737802,0.867763,1.143412e+09,10.740,11.42

In [30]:
France_df = energy_df[energy_df["Country Name"] =="France"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [31]:
France_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
112,112,France,2011,70281.812000,0.152897,477970.947000,0.847103,354602460.0,14.946,13.66
111,111,France,2010,81923.204000,0.146684,462375.654000,0.853316,376645400.0,14.670,13.81
113,113,France,2012,89051.020000,0.169578,458961.826000,0.830422,356912580.0,13.490,13.58
116,116,France,2015,95647.624000,0.140607,459479.166000,0.859393,331580000.0,12.398,13.17
118,118,France,2017,96631.443000,0.183025,441217.778000,0.816975,337457540.0,11.470,12.80
115,115,France,2014,98533.057000,0.161088,449972.911000,0.838912,327107260.0,12.064,12.96
117,117,France,2016,102600.669000,0.144435,437819.091000,0.855565,334439780.0,11.424,12.79
114,114,France,2013,103151.674000,0.156860,454619.220000,0.843140,358623360.0,13.150,13.34
120,120,France,2019,116574.619828,0.267326,430465.860165,0.732674,316386780.0,10.620,12.76
119,119,France,2018,117591.126038,0.187650,440206.684017,0.812350,322526820.0,11.406,12.74

In [32]:
Germany_df = energy_df[energy_df["Country Name"] =="Germany"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [33]:
Germany_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
121,121,Germany,2010,107981.966000,0.148019,486432.040000,0.851981,832540900.0,15.202,20.01
122,122,Germany,2011,125766.644000,0.271933,450480.357000,0.728067,808911500.0,15.562,20.21
123,123,Germany,2012,144484.215000,0.231472,446946.791000,0.768528,813693060.0,13.882,20.62
124,124,Germany,2013,153312.682000,0.287244,447613.314000,0.712756,831207600.0,13.388,21.15
125,125,Germany,2014,163281.499000,0.293901,427592.500000,0.706099,792255400.0,12.580,21.05
126,126,Germany,2015,188901.308000,0.338549,421390.696000,0.661451,795556600.0,12.752,21.76
127,127,Germany,2016,189697.468000,0.280491,424634.532000,0.719509,800339840.0,11.754,21.68
128,128,Germany,2017,216528.135000,0.396384,402524.872000,0.603616,785616450.0,11.874,21.22
129,129,Germany,2018,224773.155651,0.393839,384138.844359,0.606161,754408450.0,11.788,20.97
130,130,Germany,2019,239316.758056,0.447311,336547.241946,0.552689,707149950.0,10.814,20.75

In [34]:
Spain_df = energy_df[energy_df["Country Name"] =="Spain"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [35]:
Spain_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
312,312,Spain,2011,87854.001000,0.327589,195423.993000,0.672411,285132260.0,13.094,30.50
318,318,Spain,2017,88213.458000,0.347474,176704.538000,0.652526,275053200.0,10.210,29.27
313,313,Spain,2012,88403.515000,0.381223,198170.491000,0.618777,279384960.0,11.840,30.42
316,316,Spain,2015,97776.458000,0.282815,171974.548000,0.717185,272164670.0,11.114,30.16
311,311,Spain,2010,98882.106000,0.371282,192068.897000,0.628718,284282700.0,12.728,30.92
320,320,Spain,2019,100570.396748,0.507687,163225.603248,0.492313,251825150.0,9.344,29.05
319,319,Spain,2018,103674.679244,0.366245,160152.320751,0.633755,270052300.0,10.080,29.15
317,317,Spain,2016,105361.214000,0.258798,158982.782000,0.741202,261227660.0,10.044,29.46
315,315,Spain,2014,111826.439000,0.398016,156553.560000,0.601984,255459100.0,10.314,29.41
314,314,Spain,2013,113395.136000,0.361096,162003.862000,0.638904,253102700.0,11.224,29.48

In [37]:
Brazil_df = energy_df[energy_df["Country Name"] =="Brazil"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [38]:
Brazil_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
35,35,Brazil,2015,423216.131000,0.765950,140845.832000,0.234050,529353020.0,11.804,35.40
36,36,Brazil,2016,457470.239000,0.838632,105837.476000,0.161368,492748000.0,11.762,35.44
37,37,Brazil,2017,458637.322000,0.793495,114442.500000,0.206505,497412700.0,14.570,34.63
38,38,Brazil,2018,486518.198235,0.896369,99241.944312,0.103631,477102140.0,10.922,34.44
39,39,Brazil,2019,507537.708859,0.786483,103848.004005,0.213517,475104580.0,10.722,34.38

In [45]:
energy_df[energy_df["Country Name"] =="Australia"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
5,5,Australia,2010,24610.860000,0.131766,212014.138000,0.868234,405103330.0,8.926,24.23
6,6,Australia,2011,25078.374000,0.103702,213905.512000,0.896298,403828770.0,7.992,24.37
7,7,Australia,2012,29876.966000,0.129626,206632.233000,0.870374,406150900.0,7.242,24.19
9,9,Australia,2014,32869.815000,0.125924,205342.418000,0.874076,393952900.0,6.838,24.48
10,10,Australia,2015,35033.856311,0.143171,206028.673386,0.856829,401793060.0,6.532,24.72
8,8,Australia,2013,35667.676000,0.167678,195695.324000,0.832322,397887460.0,7.168,24.14
12,12,Australia,2017,39298.654663,0.158525,205983.082267,0.841475,414358300.0,6.828,24.06
11,11,Australia,2016,43979.519863,0.185620,201931.847182,0.814380,411264300.0,6.610,24.32
13,13,Australia,2018,50132.733078,0.223738,197637.065256,0.776262,416283800.0,7.054,24.27
14,14,Australia,2019,55675.459561,0.248704,196097.987605,0.751296,416356600.0,8.852,24.18

In [46]:
australia_df = energy_df[energy_df["Country Name"] =="Australia"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [47]:
australia_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
5,5,Australia,2010,24610.860000,0.131766,212014.138000,0.868234,405103330.0,8.926,24.23
6,6,Australia,2011,25078.374000,0.103702,213905.512000,0.896298,403828770.0,7.992,24.37
7,7,Australia,2012,29876.966000,0.129626,206632.233000,0.870374,406150900.0,7.242,24.19
9,9,Australia,2014,32869.815000,0.125924,205342.418000,0.874076,393952900.0,6.838,24.48
10,10,Australia,2015,35033.856311,0.143171,206028.673386,0.856829,401793060.0,6.532,24.72
8,8,Australia,2013,35667.676000,0.167678,195695.324000,0.832322,397887460.0,7.168,24.14
12,12,Australia,2017,39298.654663,0.158525,205983.082267,0.841475,414358300.0,6.828,24.06
11,11,Australia,2016,43979.519863,0.185620,201931.847182,0.814380,411264300.0,6.610,24.32
13,13,Australia,2018,50132.733078,0.223738,197637.065256,0.776262,416283800.0,7.054,24.27
14,14,Australia,2019,55675.459561,0.248704,196097.987605,0.751296,416356600.0,8.852,24.18

In [48]:
italy_df = energy_df[energy_df["Country Name"] =="Italy"].sort_values(by = ["Renewables Value", "Non-Renewables Value"])

In [49]:
italy_df

,Unnamed: 0,Country Name,Year,Renewables Value,Renewables Share,Non-Renewables Value,Non-Renewables Share,CO2 Emissions,Particulate Matter,Respiratory Death Rate
176,176,Italy,2010,78785.184000,0.260861,211961.061000,0.739139,436117440.0,20.002,18.27
177,177,Italy,2011,83318.159000,0.279376,208123.917000,0.720624,424256260.0,20.616,17.97
178,178,Italy,2012,92377.523000,0.332550,195425.855000,0.667450,403696900.0,18.422,17.76
183,183,Italy,2017,103493.942000,0.319546,181771.708000,0.680454,352735400.0,15.654,16.71
182,182,Italy,2016,107598.961000,0.298713,172103.661000,0.701287,358182560.0,15.740,16.87
181,181,Italy,2015,108039.839000,0.271162,164388.581000,0.728838,361163170.0,17.188,17.24
179,179,Italy,2013,111672.887000,0.346156,167160.503000,0.653844,369679700.0,17.812,17.25
184,184,Italy,2018,113831.132686,0.369049,166013.486318,0.630951,349005020.0,15.892,16.79
185,185,Italy,2019,115359.668468,0.446902,168590.387525,0.553098,339233200.0,14.154,16.76
180,180,Italy,2014,119834.336000,0.382520,149313.602000,0.617480,349390340.0,16.602,16.94